<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/CircleInfo_List.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>List</title>
</head>
<body>
    <header>
        <nav class = 'nav-container'>
            <div class = 'item-container'>
                <ul class = 'nav-item-left-container'>
                  <li class = "nav-item margin-right"><a href="">Home</a></li>
                </ul>
  
                <ul class = 'nav-item-right-container'>
                  {% if user.is_authenticated %}
                  <li class = "nav-item"><a href="">알림 <i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
                  <li class = "nav-item"><a href="{%url 'myClub' %}">나의 동아리</a></li>
                  <li class = "nav-item"><a href="{% url 'Logout' %}">로그아웃</a></li>
                  {% else %}
                  <li class = "nav-item margin-right"> <a href= "{% url 'Signup' %}">회원가입</a></li>
                  <li class = "nav-item"><a href="{%url 'Login'%}">로그인</a></li>
                  {% endif %}
                </ul>
              </div>
          </nav>
    </header>
    <div class="container">
        <div class="content">
            <div class="list">
                <div class="card">
                    <a href="{% url 'CircleInfo_Detail' %}">멋쟁이 예수처럼</a>
                    <p>기독교</p>
                </div>
                <div class="card">
                    <a href="{% url 'CircleInfo_Detail' %}">I'm God</a>
                    <p>천주교</p>
                </div>
                <div class="card">
                    <a href="{% url 'CircleInfo_Detail' %}">나무아미타불</a>
                    <p>불교</p>
                </div>
            </div>
            <div class="list">
                <div class="card">
                    <a href="{% url 'CircleInfo_Detail' %}">멋쟁이 예수처럼</a>
                    <p>기독교</p>
                </div>
                <div class="card">
                    <a href="{% url 'CircleInfo_Detail' %}">I'm God</a>
                    <p>천주교</p>
                </div>
                <div class="card">
                    <a href="{% url 'CircleInfo_Detail' %}">나무아미타불</a>
                    <p>불교</p>
                </div>
            </div>
            <div class="list">
                <div class="card">
                    <a href="{% url 'CircleInfo_Detail' %}">나는 힌두교</a>
                    <p>힌두교</p>
                </div>
                <div class="card">
                    <a href="{% url 'CircleInfo_Detail' %}">Jesus Loves Me</a>
                    <p>기독교</p>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- <script>
    var list = '';
    for (var i = 0; i < 3; i++) { 
        list += '<div class="list">'
        for(var j = 0; j< 3;  j++){
            list += '<div class="card"><a href="">멋쟁이 예수처럼</a><p>기독교</p></div>'
        }  
    }
    document.getElementById("content").innerHTML = list;
</script> -->
</html>