<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/Register.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Register</title>
</head>
<body>
    <header>
        <nav class = 'nav-container'>
            <div class = 'item-container'>
                <ul class = 'nav-item-left-container'>
                  <li class = "nav-item margin-right"><a href="">Home</a></li>
                </ul>
  
                <ul class = 'nav-item-right-container'>
                  {% if user.is_authenticated %}
                  <li class = "nav-item"><a href="">알림 <i class="fa fa-bell-o" aria-hidden="true"></i></a></li>
                  <li class = "nav-item"><a href="{%url 'myClub' %}">나의 동아리</a></li>
                  <li class = "nav-item"><a href="{% url 'Logout' %}">로그아웃</a></li>
                  {% else %}
                  <li class = "nav-item margin-right"> <a href= "{% url 'Signup' %}">회원가입</a></li>
                  <li class = "nav-item"><a href="{%url 'Login'%}">로그인</a></li>
                  {% endif %}
                </ul>
              </div>
          </nav>
    </header>
    <div class="container">
        <div class="content">
            <form action ="{% url 'Register' %}" class="form" method ="GET">
                <h1>동아리 등록</h2>
                <div class="basicInfo">
                    <div class="textInfo">
                        <div class="column">
                            <h3>동아리명</h3>
                            <input name="title" type="text" placeholder="동아리명" autocomplete="off">
                            <h3>동아리 유형</h3>
                            <label><input class = "radio" type="radio" name="activity" value="교내">교내</label>
                            <label><input class = "radio" type="radio" name="activity" value="연합">연합</label>
                            <h3>분야</h3>
                            <label><input class = "radio" type="radio" name="Field" value="인문" >인문</label>
                            <label><input class = "radio" type="radio" name="Field" value="자연">자연</label>
                            <label><input class = "radio" type="radio" name="Field" value="예체능">예체능</label>
                            <label><input class = "radio" type="radio" name="Field" value="봉사">봉사</label>
                            <label><input class = "radio" type="radio" name="Field" value="창업">창업</label>
                            <h3>회장</h3>
                            <input name="leader" type="text" placeholder="회장 성함" autocomplete="off">
                            <h3>연락처</h3>
                            <input name="phone" type="text" placeholder="연락처" autocomplete="off">
                            <h3>이메일</h3>
                            <input name="email" type="text" placeholder="연락처" autocomplete="off">
                        </div>
                    </div>
                    <div class="image">
                        <img src="../../static/img/field.jpg" width= "200px" height = "200px">
                    </div>
                </div>
                <div class="SpecificInfo">
                    <h3>동아리 소개</h3>
                    <textarea name="body" cols="100" rows="10"></textarea>
                </div>
                <div class="button">
                    <input class = "matching" type="submit" value="등록 신청">
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    document.getElementById('currentDate').value = new Date().toISOString().substring(0, 10);;
  </script>
</html>