body{
    margin:0;
    background: url("../img/자연.jpg") no-repeat;
    background-size: cover;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.content {
    display: flex;
    align-items: center;
    height: 100%;
    width : 100%;
    justify-content: space-evenly;
    padding:0;
    margin:0;
    flex-direction: column;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.box{
    display: flex;
    width :150px;
    height: 150px;
    padding: 40px;
    align-items: center;
    text-align: center;
    vertical-align:middle;
    justify-content: center;
    text-decoration: none;
    color: black;
    margin: 40px 40px;
    border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: white;
}

a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
/* nav */
.nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(201, 192, 192, 0.699);
}

.nav-item-right-container {
    display: inline;
    float: right;
    margin-right: 30px;
}

.nav-item-left-container {
    display: inline;
    float: left;
}

.nav-item {
    display: inline;
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.margin-right {
    margin-right: 15px;
}