body{
    margin: 0;
    background: url("../img/pray.jpg") no-repeat;
    background-size: cover;
}
.container{
    min-height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
}

.content {
    display: flex;
    align-items: center;
    height: 100%;
    width : 100%;
    justify-content: space-evenly;
    flex-direction: column;
    padding:0;
    margin: 200px 400px 0 400px;

}

.list{
    display: flex;
    flex-direction: row;
}
.card {
	height: 300px;
	width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px;
	border-radius: 15px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	overflow: hidden;
    background: white;
}

.card a{
    text-decoration: none;
    color: black;
    text-align: center;
}

.card p{
    text-decoration: none;
    color: black;
    text-align: center;

}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
/* nav */
.nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(201, 192, 192, 0.699);
}

.nav-item-left-container {
    display: inline;
    float: left;
}

.nav-item-right-container {
    display: inline;
    float: right;
    margin-right: 30px;
}

.nav-item {
    display: inline;
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.margin-right {
    margin-right: 15px;
}