body{
    margin: 0;
    background: url("../img/pray.jpg") no-repeat;
    background-size: cover;
}
.container{
    min-height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.content {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    padding: 100px 0;
    background-color: white;
    border-radius: 15px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form{
    display: flex;
    flex-direction: column;
    width : 80%;
}

.basicInfo{
    display: flex;
    justify-content: space-between;
    width : 100%;
    
}

.textInfo{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}


.button{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.matching{
    width: 100px;
    padding: 8px;
    background-color: #DD97B9;
    border: none;
    border-radius: 8px;
    margin: 0 30px;
}

.matching:hover{
    width: 100px;
    padding: 8px;
    color: white;
    background-color: #d86a9f;
    border: none;
    border-radius: 8px;
    cursor:grab;
    margin: 0 30px;
}

@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
/* nav */
.nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(201, 192, 192, 0.699);
}

.nav-item-right-container {
    display: inline;
    float: right;
    margin-right: 30px;
}


.nav-item-left-container {
    display: inline;
    float: left;
}

.nav-item {
    display: inline;
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.margin-right {
    margin-right: 15px;
}