@media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }
  
/* nav */
.nav-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(201, 192, 192, 0.699);
}

.nav-item-right-container {
    display: inline;
    float: right;
    margin-right: 30px;
}

.nav-item-left-container {
    display: inline;
    float: left;
}


.nav-item {
    display: inline;
}

.nav-item a {
    color: black;
    text-decoration: none;
}

.margin-right {
    margin-right: 15px;
}

body{
    margin:0;
    background: url("../img/conference.jpg") no-repeat;
    background-size:auto;
}

.container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
}

.search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 50%;
    padding: 0;
}

input{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 16px;
    outline: none;
    float: center;
}

button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    border: none;
    border-radius: 16px;
    outline: none;
    float: right;
    background-color:#DD97B9;
    color: #ffffff
}

button:hover{
    cursor: grab;
}